<p id="notice"><%= notice %></p>

	

	<p>
   		<%=form_tag cars_path, :method => 'get' do %>
    	<%= text_field_tag :search, params[:search]  %>
    	<%= submit_tag "Search", :name => nil,:value => :search.upcase %>
	</p>
    <% end %>

	<h3> Is the car blocking your way a</h3>

<div id="search"><%= render 'search' %></div>
