<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 40%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <p id="notice"><%= notice %></p>

	<h1>Welcome To Parkers</h1>
	<h3>Please enter the number plate of the car blocking your way!</h3>

	  <p>
	   	<%=form_tag cars_path, id:'search', remote: true, method: :get do %>
	    <%= text_field_tag :search, params[:search],placeholder:"BLX 1810"   %><br>
	    <br>
      <%= submit_tag "Search", id:'search-title', :name => nil,:value => :search.upcase %>
	  </p>
	    <% end %>

      <h3>Or would you like to park your car? </h3>

      <%= link_to 'Let parkers find me', location_new_path%>
  </body>
</html>

    